<span>options: eval:(asap|blur|NUMms) max:(NUM|all)</span>
<br />
<textarea id="aqlEditor" style="font-family: monaco, monospace;" cols="100" rows="25">// eval:asap max:all
// query
</textarea>
<br />
<span data-ng-if="lastError">{{lastError}}</span>
<br />
<div data-ng-repeat="result in queryResults">
  <span data-ng-if="result.execTime">query exec time: {{result.execTime}} ms, HTTP {{result.httpTime}} ms, {{result.result.length}} results</span>
  <pre data-ng-if="!options.table">{{result.resultJson}}</pre>
  <aql-result-table data-ng-if="options.table" data="result">
  </aql-result-table>
</div>