<div class="alert alert-info" role="alert">
  Changes are instantly applied. Textinputs on blur, select and radio buttons on selection change.
</div>

<table class="table table-sm">
<thead>
  <tr>
    <td></td><!-- type -->
    <td></td><!-- loaded? -->
    <td></td><!-- volatile? -->
    <td>name</td>
    <td></td>
  </tr>
</thead>
<tbody>
  <tr data-ng-repeat-start="col in collections | orderBy:orderCollection" data-ng-click="getFigures(col, col.expanded = !col.expanded)">
    <td>
      <i data-ng-if="col.type==3" class="fa fa-share-alt" title="edges"></i>
      <i data-ng-if="col.type==2" class="fa fa-file-text-o" title="documents"></i>
    </td>
    <td>
      <i data-ng-if="col.status==2" class="fa fa-circle-thin" title="unloaded"></i>
      <i data-ng-if="col.status==3" title="loaded" class="fa fa-circle"></i>
      <i data-ng-if="col.status==6" class="fa fa-circle-o-notch"></i>
    </td>
    <td>
      <i data-ng-if="!col.isVolatile" class="fa fa-hdd-o" title="persistent"></i>
      <i data-ng-if="col.isVolatile" class="fa fa-cloud" title="volatile"></i>
    </td>
    <td>{{col.name}}</td>
    <td></td>
  </tr>
  <tr data-ng-repeat-end>
    <td data-ng-if="col.expanded" colspan="100%">

<table class="table table-sm">
  <tbody>
    <tr>
      <td style="width:120px;">ID:</td>
      <td>{{col.id}}</td>

      <td style="width:100px;">datafiles</td>
      <td>{{figures[col.name].datafiles.count}} / {{format(figures[col.name].datafiles.fileSize, 2, 'it')}}</td>

      <td style="width:100px;">shapes</td>
      <td>{{figures[col.name].shapes.count}} / {{figures[col.name].shapes.size}} Byte</td>
    </tr>


    <tr>
      <td>Type:</td>
      <td><span data-ng-if="col.type==3">Edge collection</span><span data-ng-if="col.type==2">Document collection</span></td>

      <td>journals</td>
      <td>{{figures[col.name].journals.count}} / {{format(figures[col.name].journals.fileSize, 2, 'it')}}</td>

      <td>attributes</td>
      <td>{{figures[col.name].attributes.count}} / {{figures[col.name].attributes.size}} Byte</td>
    </tr>


    <tr>
      <td>Journal size</td>
      <td>{{format(col.journalSize,2,'it')}}</td>

      <td>compactors</td>
      <td>{{figures[col.name].compactors.count}} / {{format(figures[col.name].compactors.fileSize, 2, 'it')}}</td>

      <td>uncollected</td>
      <td>{{figures[col.name].uncollectedLogfileEntries}}</td>
    </tr>


    <tr>
      <td>Wait for sync</td>
      <td><label><input type="radio" data-ng-model="col.waitForSync" ng-value="true" /> yes</label> <label><input type="radio" ng-value="false" data-ng-model="col.waitForSync" /> no</label> </td>

      <td>shape files</td>
      <td>{{figures[col.name].shapefiles.count}} / {{format(figures[col.name].shapefiles.fileSize, 2, 'it')}}</td>

      <td>references</td>
      <td>{{figures[col.name].documentReferences}}</td>
    </tr>


    <tr>
      <td>Index buckets</td>
      <td><select data-ng-model="col.indexBuckets" data-ng-options="Number(key) as key for (key, value) in indexBucketSizes"></select></td>

      <td>indexes</td>
      <td>{{figures[col.name].indexes.count}} / {{format(figures[col.name].indexes.size, 2, 'it')}}</td>

      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

{{col}}

    </td>
  </tr>
</tbody>
</table>
