<div class="alert alert-info" role="alert">
  Changes are instantly applied. Textinputs on blur, select and radio buttons on selection change.
</div>

<table class="table table-sm">
<thead>
  <tr>
    <td></td><!-- type -->
    <td></td><!-- loaded? -->
    <!-- <td></td> --><!-- volatile? -->
    <td>name</td>
    <td></td>
  </tr>
</thead>
<tbody>
  <tr data-ng-repeat-start="col in collections | orderBy:orderCollection" data-ng-click="getFigures(col, col.expanded = !col.expanded)" style="cursor: pointer;">
    <td>
      <i data-ng-if="col.type==3" class="fa fa-share-alt" title="edges"></i>
      <i data-ng-if="col.type==2" class="fa fa-file-text-o" title="documents"></i>
    </td>
    <td>
      <i data-ng-if="col.status==2" class="fa fa-circle-thin" title="unloaded"></i>
      <i data-ng-if="col.status==3" title="loaded" class="fa fa-circle"></i>
      <i data-ng-if="col.status==6" class="fa fa-circle-o-notch"></i>
    </td>
<!--     <td>
      <i data-ng-if="!col.isVolatile" class="fa fa-hdd-o" title="persistent"></i>
      <i data-ng-if="col.isVolatile" class="fa fa-cloud" title="volatile"></i>
    </td> -->
    <td>{{col.name}}</td>
    <td></td>
  </tr>
  <tr data-ng-repeat-end data-ng-if="col.expanded">
    <td colspan="100%">

<div data-ng-if="col.status == 2" class="alert alert-warning" role="alert" style="text-align: center;">
  <strong>Collection not loaded! Load it first.</strong>
</div>

<table class="table table-sm">
  <tbody>

    <tr>
      <td colspan="4">
        <div class="input-group input-group-sm" style="width:100%;">
          <span class="input-group-addon" id="basic-addon1">Name:</span>
          <input type="text" data-ng-model="col.editName" class="form-control" data-ng-disabled="col.isSystem" data-ng-blur="doAction('colName', col)" />
        </div>
      </td>
      <td>Wait for sync</td>
      <td><label><input type="radio" data-ng-model="col.waitForSync" ng-value="true"  data-ng-change="doAction('waitForSync', col)" /> yes</label>
          <label><input type="radio" data-ng-model="col.waitForSync" ng-value="false" data-ng-change="doAction('waitForSync', col)" /> no</label> </td>
    </tr>

    <tr>
      <td style="width:120px;">ID:</td>
      <td>{{col.id}}</td>
      <td>Type:</td>
      <td><span data-ng-if="col.type==3">Edge collection</span><span data-ng-if="col.type==2">Document collection</span></td>
      <td>Status:</td>
      <td>
        <span data-ng-if="col.status==2">unloaded <button class="btn btn-sm btn-primary btn-primary-outline" data-ng-click="doAction('load', col)">load</button></span>
        <span data-ng-if="col.status==3">loaded <button class="btn btn-sm btn-primary btn-primary-outline"   data-ng-click="doAction('unload', col)">unload</button></span>
      </td>
    </tr>

    <tr>
      <td>Alive <i class="fa fa-files-o" title="alive documents"></i></td>
      <td><a href="database/{{params.currentDatabase}}/collection/{{col.name}}/0/49">{{col.figures.alive.count}} / {{col.count}}</a></td>
      <td>Size</td>
      <td>{{format(col.figures.alive.size, 2, 'it')}}</td>
      <td><button class="btn btn-sm btn-primary btn-primary-outline" data-ng-disabled="col.isSystem" data-ng-click="doAction('truncate', col)">truncate</button></td>
      <td></td>
    </tr>
    <tr>
      <td>Dead <i class="fa fa-files-o" title="dead documents"></i></td>
      <td>{{col.figures.dead.count}}</td>
      <td>Size</td>
      <td>{{format(col.figures.dead.size, 2, 'it')}}</td>
      <td>Deletion</td>
      <td>{{col.figures.dead.deletion}}</td>
    </tr>

    <tr>
      <td colspan="100%">&nbsp;</td>
    </tr>

    <tr>
      <td>Journal size</td> <!-- @todo special angular converter  <input type="number" data-ng-model="col.journalSize"/> -->
      <td>{{format(col.journalSize,2,'it')}}</td>

      <td>Attributes</td>
      <td>{{col.figures.attributes.count}} / {{format(col.figures.attributes.size, 2, 'it')}}</td>

      <td>Compactor files</td>
      <td>{{col.figures.compactors.count}} / {{format(col.figures.compactors.fileSize, 2, 'it')}}</td>
    </tr>


    <tr>
      <td>Journal files</td>
      <td>{{col.figures.journals.count}} / {{format(col.figures.journals.fileSize, 2, 'it')}} 
        <button class="btn btn-primary btn-sm btn-primary-outline" data-ng-click="doAction('rotate', col)">rotate</button>
      </td>


      <td style="width:120px;">Shapes</td>
      <td>{{col.figures.shapes.count}} / {{format(col.figures.shapes.size, 2, 'it')}}</td>

      <td>Uncollected</td>
      <td>{{col.figures.uncollectedLogfileEntries}}</td>
    </tr>


    <tr>
      <td style="width:120px;">datafiles</td>
      <td>{{col.figures.datafiles.count}} / {{format(col.figures.datafiles.fileSize, 2, 'it')}}</td>

      <td>Shape files</td>
      <td>{{col.figures.shapefiles.count}} / {{format(col.figures.shapefiles.fileSize, 2, 'it')}}</td>

      <td>References</td>
      <td>{{col.figures.documentReferences}}</td>
    </tr>


    <tr>
      <td colspan="100%">&nbsp;</td>
    </tr>


    <!-- indexes -->
    <tr>
      <td>Indexes</td>
      <td>{{col.figures.indexes.count}} / {{format(col.figures.indexes.size, 2, 'it')}}</td>

      <td>Index buckets</td>
      <td><select data-ng-model="col.indexBuckets" data-ng-options="Number(key) as key for (key, value) in indexBucketSizes" data-ng-change="doAction('indexBuckets', col)"></select></td>

      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><strong>id</strong></td>
      <td><strong>type</strong></td>
      <td><strong>unique</strong></td>
      <td><strong>sparse</strong></td>
      <td><strong>selec. est</strong></td>
      <td><strong>fields</strong></td>
    </tr>
    <tr data-ng-repeat="idx in indexes[col.id]">
      <td>{{idx.id}}</td>
      <td>{{idx.type}}</td>
      <td><i data-ng-if="idx.unique" class="fa fa-check"></i></td>
      <td><i data-ng-if="idx.sparse" class="fa fa-check"></i></td>
      <td>{{idx.selectivityEstimate}}</td>
      <td>{{idx.fields}}</td>
    </tr>
  </tbody>
</table>






    </td>
  </tr>
</tbody>
</table>
